* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #797373;
    color: #000000;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 10px #000;
    border-bottom: 1px solid #000000;
}
h1, h2{
    text-transform: uppercase;
    text-align: center;
    text-decoration:none ;
    list-style: none;
    color: #000;}

p{text-transform: uppercase;
    text-align: center;
    text-decoration:none ;
    list-style: none;
    color: #000000;}
    a{
        display: flex;
       text-align: end;
        color: #000000;
        margin-right: 10px;
        text-decoration: none;}
        
     .button:hover{
            border: solid 2.5px #ba79f8;}
            
        .button{
                width: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px 16px;
                border-radius: 8px;
                border: solid 2.5px #000000;
                text-decoration: none;
                font-weight: 500;
                transition: all .3s ease-in-out;
             }
             img  {
                width: 320px;
                display: flex;
                
             }
        
