---
---

body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-image: url(/asset/pexels-njeromin-14558623.jpg);
  background-size: cover;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  background-color: #00000070;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  color: #d3ab82;
  padding: 1rem 2rem;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  display: flex;
  gap: 1.5rem;
}

nav ul li a {
  color: #d3ab82;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #d3ab8278;
}

nav img {
  width: 90px;
}

#introduction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

#introduction .bloc-gauche {
  width: 600px;
}

#introduction .bloc-gauche h3 {
  color: #555;
}

#introduction .bloc-gauche h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #d3ab82;
  text-shadow: 0 0 5px #000000, 0 0 10px #000, 0 0 20px #000;
}

#introduction .bloc-gauche p {
  margin-bottom: 1.5rem;
  line-height: 1.8;
  color: #000;
  text-shadow: 0 0 5px #000000, 0 0 10px #f4f4f9, 0 0 20px #d3ab82;
  font-size: large;
}

#introduction .bloc-gauche .button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: #000000;
  color: #d3ab82;
  border-radius: 5px;
  transition: background 0.3s;
  text-shadow: 0 0 1px #d3ab82, 0 0 1px #d3ab82, 0 0 0px #d3ab82;
}

#introduction .bloc-gauche .button:hover {
  background: #d3ab8278;
}

#competences {
  padding: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  font-size: larger;
  color: #000000;
  text-shadow: 0 0 5px #000000, 0 0 10px #f4f4f9, 0 0 20px #d3ab82;
}

.competence {
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px #000000e0;
  width: 300px;
}

.competence img {
  border-radius: 10px;
  margin-bottom: 1rem;
}

.competence h3 {
  margin-bottom: 1rem;
  color: #000000;
}

#portolio {
  padding: 2rem;
  color: #000;
}

#portolio h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #000000;
  text-shadow: 0 0 5px #000000, 0 0 10px #f4f4f9, 0 0 20px #d3ab82;
}

.projects {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.project img {
  margin-bottom: 1rem;
  border-radius: 10px;
}

.project h2 {
  color: #333;
}

#temoignages {
  padding: 2rem;
  text-align: center;
}

#temoignages h2 {
  margin-bottom: 2rem;
  color: #333;
}

.temoignages-containeur {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.temoignage {
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.temoignage p {
  margin-bottom: 1rem;
  color: #555;
}

footer {
  padding: 2rem;
  background: #000000;
  color: #d3ab82;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-shadow: 0 0 1px #000, 0 0 1px #000000, 0 0 0px #000;
}

footer .bloc-gauche h3 {
  margin-bottom: 1rem;
}

footer .bloc-gauche p {
  line-height: 1.8;
}

footer .bloc-droit {
  text-align: center;
}

footer .bloc-droit .button {
  display: flex;
  background: #d3ab82;
  padding: 0.75rem 1.5rem;
  color: #000;
  border-radius: 5px;
  transition: background 0.3s;
}

footer .bloc-droit .button:hover {
  background: #d3ab8278;
}
