<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} | Adam Portfolio</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/images/Batman-Logo.png"
    />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />
  </head>
  <body>
    {% include header.html %}

    <main>{{ content }}
       <div class="wrapper">
    <form action=""> 
      <h1>Me Contacter</h1>
      <div class="top">
        <div class="input-box">
            <input type="text" placeholder="Nom et Prénom" required>
          
        </div>

        <div class="input-box">
            <input type="password" placeholder="Email" required>
            <i class='bx bxs-lock-alt'></i>
        </div>
      </div>

        <div class="form__message">
                <label for="message"></label>
                <textarea
                  id="message"
                  name="message"
                  rows="5"
                  placeholder="Votre message"
                  required
                ></textarea>
              </div>

        <button type="submit" class="button"><a href="#">Envoyer</button></a>

    </form>
  </div>
    </main>

    {% include footer.html %}
  </body>
</html>
